@mixin hover($_property, $_toValue) {
  transition: #{$_property} $transition-duration;
  cursor: pointer;

  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin on-desktop {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin on-tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin on-mobile {
  @media (max-width: 639px) {
    @content;
  }
}

@mixin grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 24px;

  @include on-mobile {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
  }
}

@mixin scroll-bar {
  &::-webkit-scroll-bar {
    width: 8px;
  }

  &::-webkit-scroll-bar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scroll-bar-thumb {
    background-color: $color-font-secondary;
    outline: 1px solid $color-font-secondary;
    border-radius: 5px;
  }
}
